body {
  background-color: whitesmoke;
}
.section {
  background-color: thistle;
  margin: 20px;
  border-radius: 2%;
  height: auto;
}
.lottery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  padding-top: 10px;
}
#para {
  color: rgb(74, 69, 60);
  display: flex;
  justify-content: center;
  align-items: center;
}
#input {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#enter {
  display: block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(151, 59, 151);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
#enter:hover {
  background-color: rgb(90, 39, 85);
}